@using CustomHelperMVC.Helper
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Include Twitter Bootstrap and jQuery: -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/1.1.1/css/bootstrap-multiselect.css" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $('#dcList').multiselect();
        });
    </script>
</head>
<body>
    <div> 
        @CustomHelper.DropdownMultiselectList()
    </div>

</body>
</html>
